// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '../../node_modules/@angular/material/index' as mat;
// Plus imports for other components in your app.

// Core theme method - applies when them loaded;
@use 'theme-core';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Define in each theme
:root {
  --color-dark-primary-text: rgba(black, 0.87);
  --color-light-primary-text: white;
  //--color-dark-primary-text: pink;
  //--color-light-primary-text: red;
  --color-background: #303030;
  --color-primary-default: #004d40;
  --color-primary-lighter: #b2fef7;
  --color-primary-darker: #00251a;
  --color-accent-default: #880e4f;
  --color-accent-lighter: #bc477b;
  --color-accent-darker: #560027;
}

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$teal-palette: (
  50: #e0f2f1,
  100: var(--color-primary-lighter),
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #009688,
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: var(--color-primary-default),
  1000: var(--color-primary-darker),
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: var(--color-dark-primary-text),
    100: var(--color-light-primary-text),
    200: var(--color-light-primary-text),
    300: var(--color-light-primary-text),
    400: var(--color-light-primary-text),
    500: var(--color-light-primary-text),
    600: var(--color-light-primary-text),
    700: var(--color-light-primary-text),
    800: var(--color-light-primary-text),
    900: var(--color-light-primary-text),
    1000: var(--color-light-primary-text),
    A100: var(--color-dark-primary-text),
    A200: var(--color-dark-primary-text),
    A400: var(--color-light-primary-text),
    A700: var(--color-light-primary-text),
  )
);
$pink-palette: (
  50: #fce4ec,
  100: var(--color-accent-lighter),
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: var(--color-accent-default),
  1000: var(--color-accent-darker),
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: var(--color-dark-primary-text),
    100: var(--color-light-primary-text),
    200: var(--color-light-primary-text),
    300: var(--color-light-primary-text),
    400: var(--color-light-primary-text),
    500: var(--color-light-primary-text),
    600: var(--color-light-primary-text),
    700: var(--color-light-primary-text),
    800: var(--color-light-primary-text),
    900: var(--color-light-primary-text),
    1000: var(--color-light-primary-text),
    A100: var(--color-dark-primary-text),
    A200: var(--color-dark-primary-text),
    A400: var(--color-light-primary-text),
    A700: var(--color-light-primary-text),
  )
);
$CrowDonat-primary: mat.define-palette($teal-palette, 900, 100, 1000);
$CrowDonat-accent: mat.define-palette($pink-palette, 900, 100, 1000);

// The warn palette is optional (defaults to red).
$CrowDonat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CrowDonat-theme: mat.define-dark-theme((
  color: (
    primary: $CrowDonat-primary,
    accent: $CrowDonat-accent,
    warn: $CrowDonat-warn,
  )
));

@include theme-core.theming($CrowDonat-theme);
