<mat-card class="example-card">
  <mat-card-header>
    <button mat-button (click)="selectTheme('light-theme')">light</button>
    <button mat-button (click)="selectTheme('dark-theme')">dark</button>
    <mat-card-title>Drusel Dog</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.ibb.co/WH6xyzW/1.png" alt="Photo of Drus">
  <mat-card-content>
    <p>
      The Drusel Dog is the smallest of the six original and distinct pug breeds of dog from out herts.
      A small, agile dog that copes very well with mountainous terrain, the Drus was originally
      bred for pooping.
    </p>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
